@model IEnumerable<CPRG214.Assignment2.Domain.Asset>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div>
    <lable>Select Asset Type:</lable>
    <select id="uxAssetTypes" asp-items="@ViewBag.AssetTypes"></select>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div id="uxAssetFilted">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TagNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Manufacturer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SerialNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssetType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TagNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manufacturer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SerialNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssetType.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <!-- jQuery-->
    <script>
        $(document).ready(function () {
            //alert('Document ready');
            $("#uxAssetTypes").change(function () {
                var assetTypeId = $("#uxAssetTypes").val();
                //alert('Id value: ' + String(propertyTypeId));
                $.ajax({
                    method: 'GET',
                    url: './Assets/Search',
                    data: { assetTypeId: assetTypeId }
                }).done(function (result,statusText,xhdr) {
                    $("#uxAssetFilted").html(result);
                    });
            });

        });
    </script>

}